{% load i18n %}
{{ formset.management_form }}
{% if formset.non_form_errors %}
  <div class="rounded-xl border border-warn-light/40 bg-warn-light/10 p-3 text-sm text-warn-light">{{ formset.non_form_errors }}</div>
{% endif %}
<div x-ref="rows" class="space-y-2">
  {% for f in formset.forms %}
    {% include "quizzes/backoffice/_answer_row.html" with f=f %}
  {% endfor %}
</div>
<template id="empty-answer-template">{% include "quizzes/backoffice/_answer_row.html" with f=formset.empty_form %}</template>
